* {
    margin: 0;
    padding: 0;
}

body {
    color: #25262a;
    background: #dfdfdf url('/img/bg.png') repeat-x;
    font-family: 'Oxygen', sans-serif;
/*  font-size: 110%;*/
}

a {
    text-decoration: none;
}

a:hover {
/*  margin-top: 1px;
    padding-left: 1px;*/
}

img {
    border: 0;
}

p {
    margin-bottom: 6px;
}

.hidden {
    height: 0;
    overflow: hidden;
/*  margin-left: -9999px;*/
}

.errors {
    color: red;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* GLOBAL CLASSES */
a.button {
    display: inline-block;
    border: 1px solid #d4d4d4;
    padding: 4px 7px;
    border-radius: 4px;
    font-size: 12px;
    background-color: #ededed;
    color: #333;
    font-weight: bold;
    text-shadow: 1px 1px 0px #fefefe;
}

a.button-wider {
    padding-left: 14px;
    padding-right: 14px;
}

a.button-taller {
    padding-top: 6px;
    padding-bottom: 6px;
}

a.button:hover {
    border: 1px solid #aaa;
    /*box-shadow: 1px 1px 2px 1px #bbb;*/
}

#page {
    width: 980px;
    margin: 0 auto;
}

#header {
    padding-top: 15px;
    height: 77px;
    color: #ccc;
    margin: 0 auto;
    text-shadow: 0px -1px 1px #666;
    margin-bottom: 40px;

    font-size: 20px;

    font-family: 'Dosis', sans-serif;
}

#header a {
    color: #ccc;
}

#header a:hover {
/*    color: #fbfeff*/
}

#header h2 {
    font-size: 34px;
    float: left;
}

#header img {
    float: left;
}

#nav {
    float: right;
    margin-top: 23px;
}

#nav ul {
    list-style-type: none;
}

#nav li {
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
}

#nav .first {
    border: none;
}

#content {
    margin: 0 auto;
    overflow: auto;
    /*position: relative;*/
    /*border: 1px solid red;*/
}

#main {
    width: 650px;
    float: left;
}

#additional {
    /*border: 1px solid lime;*/
    width: 300px;
    float: right;
}

#additional .block {
    margin-bottom: 20px;
}

.subtext {
    font-size: 12px;
    color: #737375;
}

.subtext .source a {
    color: #737375;
}

#additional .subtext {
    margin-bottom: 12px;
    display: block;
}

/* post list */
.post-list {
    list-style-type: none;
    /*margin-bottom: 40px;*/
}

.post-list a {
    color: #082777;
}

.post-list a:hover {
/*    color: #0562db;*/
}

.post-list h2 a {
    color: #222629;
}

.post-list li {
    overflow: auto;
    background: #dfdfdf url('/img/border.png') no-repeat bottom left;

    margin-bottom: 34px;
    padding-bottom: 21px;

    word-wrap: break-word;
    position: relative;
}

.post-list .smallslimstick {
    position: absolute;
    background-color: #dfdfdf;
    height: 21px;
    width: 460px;

    bottom: 21px;
    /*margin-top: -30px;*/
}

.post-list .first {
}

.post-list .last {
    background: none;
}

.post-list .post {
    
    /*width: 460px;*/
    
    /*margin-right: 10px;*/
}

.post-list .img {
    float: left;
    width: 460px;
    text-align: center;
}

.post-list .info {
    float: right;
    width: 178px;
    font-size: 12px;
/*    border: 1px solid lime;*/
    
    /*align description text to top border of the image*/
    /*margin-top: -7px;*/
}

.post-list .info h2 {
    margin-bottom: 6px;
    font-size: 20px;
}

.post-list .source {
    color: #737375;
}

.post-list .source a {
    color: #737375;
}

.post-list .admin {
    float: right;
    width: 178px;
}

.post-list .admin a.button {
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
}

.post-list .admin a.button:hover {
    border: 1px solid #aaa;
    box-shadow: 1px 1px 2px 1px #bbb;
}

.post-list .admin a.button.ok {
    /*background-color: #00a600;*/
}

.post-list .admin a.button.set {
    background-color: #3070d1;
    color: #fff;
    text-shadow: -1px -1px 0px #2a5eac;
    border: 1px solid #1951a5;
}

.post-list .admin a.button.delete {
    background-color: #df1e1e;
    color: #fff;
    text-shadow: -1px -1px 0px #a60c0c;
    border: 1px solid #ba1414;
}

.post-list .admin p {
    clear: both;
}

.social-buttons {
    overflow: hidden;
    width: 176px;
    margin: 0 auto;
}

.social-button {
    float: left;
}

.social-button {
    width: 70px;
}

.social-button-g-plus {
    padding-top: 2px;
}

/* post view */
#post {
    word-wrap: break-word;
    position: relative;
}
#post h1 {
    /*margin-top: 40px;*/
    font-size: 19px;
}

#post h3 {
    display: inline;
}
#post .img {
    text-align: center;
}

#post .smallslimstick {
    position: absolute;
    background-color: #dfdfdf;
    height: 32px;
    width: 650px;

    bottom: 3px;
    /*margin-top: -30px;*/
}

#post img {
}

#post .social-buttons {
    text-align: center;
    margin-bottom: 16px;
}

#post .info {
    margin-bottom: 16px;
}

#subnav {
    float: right;
}

/* footer */
#footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    background: #dfdfdf url('/img/border.png') repeat-x top left;
}

#footer a {
    color: #082777;
}

#footer a:hover {
/*    color: #0562db;*/
}

/* MESSAGES */
.message {
    padding: 14px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.success {
    background-color: #32b63c;
}

.failure {
    background-color: red;
}

/* UPLOAD LAYER */
#upload-form-layer {
    width: 700px;
    height: 390px;
    left: -350px;
    top: 115px;
    
    margin: 0 50%;
    padding: 12px;

    position: fixed;
    display: none;
    background-image: url('/img/opaque.png');
}

#upload-form-layer .container {
    padding: 12px;
    background-color: #dcdcdc;
    width: 676px;
    height: 366px;
}

#upload-form-layer #nav-hide-upload-form {
    float: right;
    font-weight: bold;
    padding: 6px 10px;
    cursor: pointer;
}

/* UPLOAD FORM */
#uploadform table {
    width: 100%;
}

#uploadform table td.element {
    /*font-size: 17px;*/
    vertical-align: top;
}

#uploadform .file, #uploadform .submit {
    /*font-size: 30px;*/
}

#uploadform .poebao {
    border: 1px solid #aaa;
}

#uploadform label {
    font-size: 18px;
    width: 300px;
}

#uploadform label span {
    font-size: 12px;
}

#uploadform .agreement {
    height: 80px;
}

#uploadform td.element input {
    /*border: 1px solid green;*/
    width: 100%;
    padding: 5px;
    font-size: 13px;
}

#uploadform  input.submit {
    margin-right: 10px;
    /*font-size: 25px;*/
}

#uploadform .submit .hint {
    /*font-size: 17px;*/
}

#uploadform #file-label {
    width: 200px;
}

#uploadform #agreement-label label {
    font-size: 13px;
}

#uploadform #submitbutton {
    width: 100px;
}

/* UPLOAD FORM ERRORS */
#uploadform ul.errors {
    list-style-type: none;
    font-size: 12px;
}


/* ADMIN */
.admin {
    border: 1px solid #aaa;
    background-color: #bbb;
    padding: 4px;
    border-radius: 3px;
    margin-bottom: 10px;
}

#moderate {
    margin-bottom: 10px;
    background-color: #B5BFB7;
    padding: 10px;
    border-radius: 10px;
}

#moderate .element {
    display: inline;
    margin-right: 10px;
}

#moderate .element label {
    margin-right: 10px;
}

#moderate .element label input {
    margin-right: 4px;
}

#infscr-loading {
    /*border: 2px solid lime;*/
    width: 460px;
    text-align: center;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*display: none;*/
}