* {
    margin: 0;
    padding: 0;
}

body {
    color: #25262a;
    background: #dfdfdf url('/img/bg.png') repeat-x;
    font-family: "Didact Gothic";
/*  font-size: 110%;*/
}

a {
    text-decoration: none;
}

a:hover {
/*	margin-top: 1px;
	padding-left: 1px;*/
}

img {
    border: 0;
}

p {
    margin-bottom: 6px;
}

.hidden {
    height: 0;
    overflow: hidden;
/*  margin-left: -9999px;*/
}

.errors {
    color: red;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

#page {
    width: 980px;
    margin: 0 auto;
}

#header {
    padding-top: 15px;
    height: 77px;
    color: #ccc;
    margin: 0 auto;
    text-shadow: 0px -1px 1px #666;
    margin-bottom: 40px;

    font-size: 20px;
}

#header a {
    color: #ccc;
}

#header a:hover {
/*    color: #fbfeff*/
}

#header h2 {
    font-size: 34px;
    float: left;
}

#header img {
    float: left;
}

#nav {
    float: right;
    margin-top: 23px;
}

#nav ul {
    list-style-type: none;
}

#nav li {
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
}

#nav .first {
    border: none;
}

#content {
    margin: 0 auto;
    overflow: auto;
    /*position: relative;*/
    /*border: 1px solid red;*/
}

#main {
    width: 650px;
    float: left;
}

#additional {
    /*border: 1px solid lime;*/
    width: 300px;
    float: right;
}

#additional .block {
    margin-bottom: 20px;
}

.subtext {
	font-size: 12px;
    color: #535b66;
}

#additional .subtext {
    margin-bottom: 12px;
    display: block;
}

/* post list */
#posts {
    list-style-type: none;
}

#posts a {
    color: #082777;
}

#posts a:hover {
/*    color: #0562db;*/
}

#posts li {
    overflow: auto;
    margin-top: 34px;
    padding-top: 39px;
    background: #dfdfdf url('/img/border.png') no-repeat top left;
}

#posts .first {
	background: none;
	margin-top: 0;
	padding-top: 0;
}

#posts .last {
    background: none;
}

#posts .post {
    width: 460px;
    float: left;
    /*margin-right: 10px;*/
}

#posts .info {
    float: right;
    width: 178px;
    font-size: 12px;
/*    border: 1px solid lime;*/
    
    /*align description text to top border of the image*/
    margin-top: -7px;
}

#posts .info h2 {
    margin-bottom: 6px;
    font-size: 20px;
}

#posts .admin {
    float: right;
    width: 178px;
}

#posts .admin a.button {
    display: block;
    float: left;
    border: 1px solid #ccc;
    padding: 4px;
    margin-right: 4px;
}

#posts .admin a.button:hover {
    border: 1px solid #888;
}

#posts .admin a.button.ok {
    background-color: #00a600;
}

#posts .admin a.button.middle {
    background-color: #FFFFC5;
}

#posts .admin a.button.warning {
    background-color: #A80000;
}



/* post view */
#post h1 {
	margin-top: 40px;
	font-size: 19px;
}

#post h3 {
	display: inline;
}

#post img {
	margin-top: 16px;
}

#subnav {
	float: right;
}

/* footer */
#footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    background: #dfdfdf url('/img/border.png') repeat-x top left;
}

#footer a {
    color: #082777;
}

#footer a:hover {
/*    color: #0562db;*/
}

/* MESSAGES */
.message {
    padding: 14px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.success {
    background-color: #32b63c;
}

.failure {
	background-color: red;
}

/* UPLOAD OVERLAY */
#upload {
	width: 700px;
	height: 390px;
	left: -350px;
	top: 115px;
	
	margin: 0 50%;
	padding: 12px;

	position: fixed;
	display: none;
	background-image: url('/img/opaque.png');
}

#upload .container {
	padding: 12px;
	background-color: #dcdcdc;
	width: 676px;
	height: 366px;
}

#upload #closebutton {
	float: right;
	font-weight: bold;
	padding: 6px 10px;
	cursor: pointer;
}

/* POSTING FORM */
#post table td.element {
    /*font-size: 17px;*/
    vertical-align: top;
}

#post input {
    /*cursor: pointer;*/
    /*font-size: 25px;*/
}

#post .file, #post .submit {
    /*font-size: 30px;*/
}

#post .poebao {
    border: 1px solid #aaa;
}

#post label {
    font-size: 22px;
}

#post label span {
    font-size: 16px;
}

#post .agreement {
    height: 80px;
}

#post  input.submit {
    margin-right: 10px;
    /*font-size: 25px;*/
}

#post .submit .hint {
    /*font-size: 17px;*/
}

/* ADMIN */
#moderate {
    margin-bottom: 10px;
    background-color: #B5BFB7;
    padding: 10px;
    border-radius: 10px;
}

#moderate .element {
    display: inline;
    margin-right: 10px;
}
