[production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0

includePaths.library = APPLICATION_PATH "/../library"

bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = "Application"

resources.layout.layoutPath = APPLICATION_PATH "/layouts/scripts/"

resources.view.doctype = "HTML5"
resources.view.charset = "utf-8"

resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.params.displayExceptions = 0

autoloadernamespaces[] = Jk_
autoloadernamespaces[] = Xerocopy_

pluginPaths.Jk_Resource = "Jk/Resource"
pluginPaths.Xerocopy_Resource = "Xerocopy/Resource"

; XEROCOPY / FILE CONVERSION
resources.xerocopy.storage.location = 
resources.xerocopy.storage.host = 
resources.xerocopy.storeOriginal = 1

resources.xerocopy.format.thumb.width = 460
resources.xerocopy.format.thumb.quality = 85
; resources.xerocopy.format.thumb.type = jpeg

resources.xerocopy.format.view.width = 650
resources.xerocopy.format.view.quality = 88
; resources.xerocopy.format.view.type = jpeg

; HEADSCRIPTS
resources.headScripts.js.jquery =           "/js/jquery-1.7.2.min.js"
resources.headScripts.js.timeago =          "/js/jquery.timeago.js"
resources.headScripts.js.timeagolang =      "/js/jquery.timeago.pl.js"
resources.headScripts.js.infinitescroll =   "/js/jquery.infinitescroll.js"
resources.headScripts.js.app =              "/js/poebao.js"

; DATABASE
resources.db.adapter = PDO_MYSQL
resources.db.params.host = 127.0.0.1
resources.db.params.username = 
resources.db.params.password = 
resources.db.params.dbname = my_7727
resources.db.params.charset = "utf8";

; MAIL SERVER
resources.mail.transport.type = smtp
resources.mail.transport.host = 
resources.mail.transport.auth = login
resources.mail.transport.ssl = ssl
resources.mail.transport.username = 
resources.mail.transport.password = 
resources.mail.defaultFrom.email = 
resources.mail.defaultFrom.name = 
resources.mail.defaultTo.email = 
resources.mail.defaultTo.name = 
resources.mail.defaultReplyTo.email = 
resources.mail.defaultReplyTo.name = 

; DEBUG LOG
resources.log.debug.writerName = "Stream"
resources.log.debug.writerParams.stream = "/var/log/poebao/debug.log"
resources.log.debug.filterName = "Priority"
resources.log.debug.filterParams.priority = 7

; APPLICATION ERROR LOG
resources.log.stream.writerName = "Stream"
resources.log.stream.writerParams.stream = "/var/log/poebao/error.log"
resources.log.stream.filterName = "Priority"
resources.log.stream.filterParams.priority = 6

[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1

resources.headScripts.js.jquery =           "/js/jquery-1.7.2.js"