<?xml version="1.0" encoding="UTF-8"?>
<configdata>
    <production>
        <routes>
                    
            <home type="Zend_Controller_Router_Route_Regex">
                <route>([0-9]*)</route>
                <defaults>
                    <controller>index</controller>
                    <action>index</action>
                    <page>1</page>
                </defaults>
                <map>
                    <page>1</page>
                </map>
                <reverse>%d</reverse>
            </home>

            <awaiting type="Zend_Controller_Router_Route_Regex">
                <route>oczekujace(?:/(\d+))?</route>
                <defaults>
                    <controller>index</controller>
                    <action>awaiting</action>
                    <page>1</page>
                </defaults>
                <map>
                    <page>1</page>
                </map>
                <reverse>oczekujace/%d</reverse>
            </awaiting>

            <author type="Zend_Controller_Router_Route_Regex">
                <route>u/(.+)/(.*)</route>
                <defaults>
                    <controller>index</controller>
                    <action>author</action>
                    <page>1</page>
                </defaults>
                <map>
                    <name>1</name>
                    <page>2</page>
                </map>
                <reverse>u/%s/%d</reverse>
            </author>
            
            <rules type="Zend_Controller_Router_Route_Static">
                <route>/regulamin</route>
                <defaults>
                    <controller>index</controller>
                    <action>rules</action>
                </defaults>
                <reverse>/regulamin</reverse>
            </rules>

            <contact type="Zend_Controller_Router_Route_Static">
                <route>/kontakt</route>
                <defaults>
                    <controller>index</controller>
                    <action>contact</action>
                </defaults>
                <reverse>/kontakt</reverse>
            </contact>

            <!-- POST -->     
            <postupload type="Zend_Controller_Router_Route_Static">
                <route>/dodaj</route>
                <defaults>
                    <controller>post</controller>
                    <action>upload</action>
                </defaults>
                <reverse>/dodaj</reverse>
            </postupload>

            <postview type="Zend_Controller_Router_Route_Regex">
                <route>p/(.+)-(.*)</route>
                <defaults>
                    <controller>post</controller>
                    <action>view</action>
                </defaults>
                <map>
                    <id>1</id>
                    <title>2</title>
                </map>
                <reverse>p/%s-%s</reverse>
            </postview>

            <!-- USER -->

            <userlogin type="Zend_Controller_Router_Route_Static">
                <route>/poebaoadminlogin</route>
                <defaults>
                    <controller>user</controller>
                    <action>login</action>
                </defaults>
                <reverse>/poebaoadminlogin</reverse>
            </userlogin>
            
            <userlogout type="Zend_Controller_Router_Route_Static">
                <route>/logout</route>
                <defaults>
                    <controller>user</controller>
                    <action>logout</action>
                </defaults>
                <reverse>/logout</reverse>
            </userlogout>

            <!-- MODERATION -->
            <moderation type="Zend_Controller_Router_Route_Static">
                <route>/moderation</route>
                <defaults>
                    <controller>moderation</controller>
                    <action>list</action>
                </defaults>
                <reverse>/moderation</reverse>
            </moderation>

            <modcategory type="Zend_Controller_Router_Route_Regex">
                <route>moderation/category/(.+)/(.+)</route>
                <defaults>
                    <controller>moderation</controller>
                    <action>setcategory</action>
                </defaults>
                <map>
                    <id>1</id>
                    <category>2</category>
                </map>
                <reverse>moderation/category/%s/%s</reverse>
            </modcategory>

            <modflag type="Zend_Controller_Router_Route_Regex">
                <route>moderation/flag/(.+)/(.+)/(.+)</route>
                <defaults>
                    <controller>moderation</controller>
                    <action>flag</action>
                </defaults>
                <map>
                    <flag>1</flag>
                    <id>2</id>
                    <value>3</value>
                </map>
                <reverse>moderation/flag/%s/%s/%s</reverse>
            </modflag>

            <modstatus type="Zend_Controller_Router_Route_Regex">
                <route>moderation/status/(.+)/(.+)</route>
                <defaults>
                    <controller>moderation</controller>
                    <action>status</action>
                </defaults>
                <map>
                    <id>1</id>
                    <status>2</status>
                </map>
                <reverse>moderation/status/%s/%s</reverse>
            </modstatus>
            
        </routes>
    </production>

    <development extends="production">
    </development>
</configdata>